/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define NUM_SYM 1
#define NAV     2

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "homerow mods";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
    &kp Q      &kp W      &kp E       &kp R       &kp T  &kp Y  &kp U       &kp I       &kp O      &kp P
    &hm LGUI A &hm LALT S &hm LCTRL D &hm LSHFT F &kp G  &kp H  &hm RSHFT J &hm RCTRL K &hm RALT L &kp SQT
    &hm LSHFT Z                 &kp X       &kp C       &kp V  &kp B  &kp N       &kp M       &kp COMMA  &hm RSHFT ENTER
    &kp LCTRL  &kp LGUI   &kp LALT       &lt NAV SPACE    &lt NUM_SYM BSPC   &none   &none    &none
            >;
        };
        num_sym {
            bindings = <
    &kp N1     &kp N2     &kp N3     &kp N4     &kp N5 &kp N6 &kp N7     &kp N8      &kp N9    &kp N0
    &kp LBKT   &kp RBKT   &kp LBRC   &kp RBRC   &trans &trans &kp LEFT     &kp DOWN      &kp UP &kp RIGHT
    &none      &none      &none      &none  &none  &none      &kp COMMA       &kp DOT     &kp FSLH
    &bootloader &reset    &none         &trans        &trans             &trans     &trans    &none
            >;
        };

    nav {
            bindings = <
    &kp ESC      &kp N7     &kp N8    &kp N9       &kp minus &none &none    &none     &none      &kp DEL
    &kp TAB      &kp N4     &kp N5    &kp N6       &kp plus  &none &none    &none     &none      &none
    &trans       &kp N1     &kp N2    &kp N3       &kp equal &none    &none     &kp UP     &none
    &bt BT_CLR      &bt BT_SEL 1      &bt BT_NXT   &trans  &trans  &kp LEFT   &kp DOWN    &kp RIGHT
            >;
        };
    };
};
