/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define NUM_SYM 1
#define NAV     2
#define GAMING  3

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "homerow mods";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
    &kp Q      &kp W      &kp E       &kp R       &kp T  &kp Y  &kp U       &kp I       &kp O      &kp P
    &hm LGUI A &hm LALT S &hm LCTRL D &hm LSHFT F &kp G  &kp H  &hm RSHFT J &hm RCTRL K &hm RALT L &kp SQT
    &hm LSHFT Z                 &kp X       &kp C       &kp V  &kp B  &kp N       &kp M       &kp DOT  &hm RSHFT ENTER
    &kp LCTRL  &kp LGUI   &kp LALT       &lt NAV SPACE    &lt NUM_SYM BSPC   &kp COMMA   &kp FSLH   &tog GAMING
            >;
        };
        num_sym {
            bindings = <
    &kp EXCL     &kp AT_SIGN     &kp POUND     &kp DOLLAR     &kp PRCNT &kp CARET &kp AMPS     &kp STAR      &kp LPAR    &kp RPAR
    &kp LBKT   &kp RBKT   &kp LBRC   &kp RBRC   &kp UNDERSCORE &kp TILDE &kp LEFT     &kp DOWN      &kp UP &kp RIGHT
    &none      &none      &none      &none  &none  &none      &kp COMMA       &kp DOT     &kp FSLH
    &none &none    &none         &trans        &trans             &bootloader     &reset    &kp C_SLEEP
            >;
        };

    nav {
            bindings = <
    &kp ESC      &kp N7      &kp N8    &kp N9       &kp MINUS &none      &none         &none      &none      &kp DEL
    &kp TAB      &kp N4      &kp N5    &kp N6       &kp PLUS  &none      &none         &none      &none      &none
    &trans       &kp N1      &kp N2    &kp N3       &kp EQUAL &none      &kp COMMA     &kp UP     &kp FSLH
    &bt BT_CLR   &bt BT_NXT  &kp N0   &trans       &trans    &kp LEFT   &kp DOWN      &kp RIGHT
            >;
        };
    GAMING { 
            bindings = <          
    &kp TAB      &kp Q     &kp W    &kp E       &kp R  &kp T      &none         &none      &none      &kp DEL
    &kp LCTRL    &kp A     &kp S    &kp D       &kp F  &kp G      &none         &none      &none      &none
    &kp LSHFT    &kp Z     &kp X    &kp C       &kp V  &kp B      &none         &kp COMMA  &kp FSLH
    &kp ESC      &kp LGUI  &kp LALT &kp SPACE   &lt NAV SPACE     &kp none   &kp none      &tog GAMING   
            >;
        };
    };
};
